@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.project{
    font-family: 'Source Serif Pro', serif;
}

.detail:hover .detail-header>h1{
    color: rgb(8 145 178);
}

.detail:hover .details-box{
    border-color: rgb(8 145 178);
}


