/***********************************
        typer-write effect
***********************************/
.writing {
    display: inline-block;
}

.text-I,
.text-II,
.text-III {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(17 24 39);
}

.text-I {
    animation: type1 1.5s steps(29, end) 1s 1 normal both,
        blink__1 .5s 300ms steps(30, end) 1;
}

.text-II {
    animation: type2 3s steps(29, end) 1s 1 normal both,
        blink__2 .5s 300ms steps(30, end) 6;
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.text-III {
    animation: type2 3s steps(29, end) 1s 1 normal both,
        blink__2 .5s 300ms steps(30, end) infinite;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

@keyframes type1 {
    from {
        width: 0%
    }

    to {
        width: 25%
    }
}

@keyframes type2 {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes type3 {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink__1 {
    from {
        border-right-color: rgb(17 24 39);
    }

    to {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes blink__2 {
    from {
        border-right-color: rgb(17 24 39);
    }

    to {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes blink__3 {
    from {
        border-right-color: rgb(17 24 39);
    }

    to {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
}


/***********************************
        Bubble background
***********************************/

.bubble .bubblediv {
    height: 60px;
    width: 60px;
    border: 2px solid rgb(148 163 184);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
}

.bubblediv .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgb(148 163 184);
    position: absolute;
    top: 20%;
    right: 20%;
}

.bubble .bubblediv:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.bubble .bubblediv:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.bubble .bubblediv:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
}

.bubble .bubblediv:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.bubble .bubblediv:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.bubble .bubblediv:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.bubble .bubblediv:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.bubble .bubblediv:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.bubble .bubblediv:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.bubble .bubblediv:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.bubble .bubblediv:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.bubble .bubblediv:nth-child(12) {
    top: 20%;
    right: 70%;
    animation: animate 7s linear infinite;
}

.bubble .bubblediv:nth-child(13) {
    top: 20%;
    left: 55%;
    animation: animate 8s linear infinite;
}

.bubble .bubblediv:nth-child(14) {
    top: 60%;
    right: 5%;
    animation: animate 6s linear infinite;
}

.bubble .bubblediv:nth-child(15) {
    top: 90%;
    right: 60%;
    animation: animate 5s linear infinite;
}

.bubble .bubblediv:nth-child(16) {
    bottom: 50%;
    left: 80%;
    animation: animate 9s linear infinite;
}

.bubble .bubblediv:nth-child(17) {
    top: 90%;
    left: 80%;
    animation: animate 3s linear infinite;
}

.bubble .bubblediv:nth-child(18) {
    bottom: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

.bubble .bubblediv:nth-child(19) {
    bottom: 90%;
    left: 25%;
    animation: animate 11s linear infinite;
}

.bubble .bubblediv:nth-child(20) {
    top: 90%;
    left: 60%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(0.75) translateY(-100px) rotate(360deg);
    }
}




.right-arrow {
    -webkit-animation: bounceToRight 1s infinite;
    animation: bounceToRight 1s infinite;
    float: right;
}

@-webkit-keyframes bounceToRight {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@-moz-keyframes bounceToRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-8px);
    }
}

@keyframes bounceToRight {

    0%,
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -ms-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}